Q1: write a loop that sums up the first 10 even numbers

In [6]:
tot_even = 0
for i in range(1, 21):
    if i % 2 == 0:
        tot_even = i + tot_even # tot_even += i
        print(tot_even)

2
6
12
20
30
42
56
72
90
110

Q2: write a python code to compute the first 20 odd numbers

In [7]:
tot_odd = 0
for i in range(1, 41):
    if i % 2 == 0:
        pass
    else:
        tot_odd = i + tot_odd
        print(tot_odd)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

Q3: write a bit of python code to compute the factorial 20. Remember n! = 1x2x3x... xn

In [8]:
# write your code here
sum = 1
for i in range(1,21):
    sum = sum*i
    print(i,sum)

1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880
10 3628800
11 39916800
12 479001600
13 6227020800
14 87178291200
15 1307674368000
16 20922789888000
17 355687428096000
18 6402373705728000
19 121645100408832000
20 2432902008176640000

Q4: Write a python code to print out the first 20 terms of the Fibonacci series. If you don't know this series just google it.

In [20]:
term1 = 0
term2 = 1

for number in range(1,21):
    if number <= 20:
        nth = term1 + term2
        term1 = term2
        term2 = nth
        print(number, term1)

1 1
2 1
3 2
4 3
5 5
6 8
7 13
8 21
9 34
10 55
11 89
12 144
13 233
14 377
15 610
16 987
17 1597
18 2584
19 4181
20 6765